.navbar {
    display: flex;
    flex-direction: column;

    .upper-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 4px 8px;

        p {
            font-size: 20px;
        }

        .navbar-log-out {
            display: flex;
            gap: 12px;
        }
    }

    .lower-navbar {
        display: flex;
        padding: 8px;
        border-top: 2px solid rgba(70, 69, 69, 0.1);
        border-bottom: 2px solid rgba(70, 69, 69, 0.1);
        background-color: #f4ebe2;

        .navbar-user {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            &__image {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
        }

    }
}